{% extends "base.html" %}
{% load i18n %}
{% block title %}djangoAdvanced: articles{% endblock %}
{%block content%}
<center> 
<table class="table">
    <tr>
    {%for header in headers%}
        <th>{{header|capfirst}}</th>
    {%endfor%}
    </tr>
    {%for item in articles_objects%}
    <tr>
        <td style="height: 40px; width: 80px;"><a href="{% url 'detail' item.id %}">{{item.id}}</a></td>
        <td style="height: 40px; width: 80px;">{{item.title}}</td>
        <td style="height: 40px; width: 80px;">{{item.author}}</td>
        <td style="height: 40px; width: 80px;">{{item.created}}</td>
        {%if item.synopsis|length > 20%}
            <td style="height: 40px; width: 80px;">{{item.synopsis|truncatechars:20}}</td>
        {%else%}
            <td style="height: 40px; width: 80px;">{{item.synopsis}}</td>
        {%endif%}
        <td style="height: 40px; width: 80px;">{{item.when}}</td>
        <td style="height: 40px; width: 80px;"><a href="{% url 'detail' item.id %}" class="btn btn-primary btn-sm">{% trans "Read" %}</a></td>
    </tr>
    {%endfor%}
</table>
</center>
{%endblock%}