{% extends "base.html" %}
{% block title %}djangoAdvanced: articles{% endblock %}
{%block content%}
<center>
<nav>
    <a style="font-weight:900;" href="{% url 'logout' %}">Logout</a>
</nav>
<table class="table">
    <tr>
    {%for header in headers%}
        <th>{{header}}</th>
    {%endfor%}
    </tr>
    <tr>
        <td style="height: 40px; width: 80px;">{{item.id}}</td>
        <td style="height: 40px; width: 80px;">{{item.title}}</td>
        <td style="height: 40px; width: 80px;">{{item.author}}</td>
        <td style="height: 40px; width: 80px;">{{item.created}}</td>
        <td style="height: 40px; width: 80px;">{{item.synopsis}}</td>
        <td style="height: 40px; width: 20ch; word-break: break-all;">{{item.content}}</td>
    </tr>
</table>
<form method="post" action="{% url 'addFavourite' item.id %}">
    {% csrf_token %}
    <input type="hidden" name="article" value="{{ item.id }}">
    <button type="submit" class="btn btn-primary">Add To Favourites</button>
</form>
</center>
{%endblock%}